.l-container,
[class*="l-container--"] {
  width: 90%;
  max-width: 1100px;
  margin-left: auto;
  margin-right: auto; }

.l-container--row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.l-container--rowspace {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }

.title-section {
  text-align: center;
  padding-top: 3rem;
  padding-bottom: 3rem; }

.updates {
  display: none; }
  @media screen and (min-width: 1024px) {
    .updates {
      display: block; } }

:root {
  --body: #222222;
  --firstColor: #1a1a20;
  --thirdColor: #424248;
  --textColor-title: #3b4248;
  --textColor: #fff;
  --borderBlue: #29abe2; }

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  background-color: var(--body);
  color: var(--textColor); }

img {
  width: 100%; }

ul {
  list-style: none;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0; }

p {
  margin: 0; }

a {
  color: inherit;
  text-decoration: none; }

input, textarea, button {
  border: 0;
  outline: 0;
  color: var(--textColor); }

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-weight: 300; }

.header {
  position: relative;
  padding-top: 1rem;
  padding-bottom: 1rem;
  border-bottom: 2px solid #606060; }
  .header__logo {
    width: 40%; }
    @media screen and (min-width: 1024px) {
      .header__logo {
        width: 20%; } }
  @media screen and (min-width: 640px) {
    .header_menu {
      display: none; } }

.menu {
  position: fixed;
  top: 0;
  right: -12rem;
  width: 12rem;
  height: 100vh;
  background-color: #3f51b5;
  -webkit-transition: right .2s;
  -o-transition: right .2s;
  transition: right .2s;
  padding-left: .8rem;
  padding-right: .8rem; }
  .menu.active {
    right: 0; }
  @media screen and (min-width: 640px) {
    .menu ul {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center; } }
  .menu__item {
    padding: 1rem 0; }
    @media screen and (min-width: 640px) {
      .menu__item {
        padding-left: .8rem;
        padding-right: .8rem; } }
  @media screen and (min-width: 640px) {
    .menu {
      position: static;
      height: auto;
      width: auto;
      padding: 0;
      background: none; } }

body {
  position: relative;
  right: 0;
  -webkit-transition: right .2s;
  -o-transition: right .2s;
  transition: right .2s; }
  body.active {
    right: 12rem; }

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .form__text {
    padding: .6rem .6rem;
    width: 100%; }
    @media screen and (min-width: 640px) {
      .form__text {
        background-color: var(--thirdColor); } }

.tops {
  width: 48%; }
  .tops__title {
    margin-top: .8rem;
    margin-bottom: .8rem; }
  .tops__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  .tops__img {
    width: 30%; }
  .tops__info {
    padding-left: .6rem; }
    .tops__infotitle {
      font-size: 1rem;
      margin-bottom: .6rem; }

.horario {
  width: 49%; }

@media screen and (min-width: 640px) {
  .chapters__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; } }

.chapter {
  position: relative;
  margin-bottom: 1rem; }
  @media screen and (min-width: 640px) {
    .chapter {
      width: 32.33%; } }
  @media screen and (min-width: 1024px) {
    .chapter {
      width: 24%; } }
  .chapter__info {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.9)), to(transparent));
    background: -webkit-linear-gradient(bottom, rgba(0, 0, 0, 0.9), transparent);
    background: -o-linear-gradient(bottom, rgba(0, 0, 0, 0.9), transparent);
    background: linear-gradient(to top, rgba(0, 0, 0, 0.9), transparent);
    padding-bottom: .7rem;
    padding-left: .6rem;
    padding-right: .6rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end; }
