.header {
    position:relative;
    padding-top:1rem;
    padding-bottom: 1rem;
    &__logo {
        width:40%;

        @include from(large) {
            width:20%;
        }
    }

    &_menu {
        @include from(medium) {
            display: none;
        }
    }
}
