.horario {
    width:48%;

    &__table {
        background-color:#cccccc;
        width:100%;
        table-layout:fixed;
    }

    &__table, &__row, &__column {
        border-collapse:collapse;
        border: 1px solid grey;
    }
}
